.button {
    background-color: #1B3C53;
    margin: 0 100px;
    color: #D2C1B6;
    border: none;
    border-radius: 6px;
    padding: 0.6em 1.4em;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
    box-shadow: 0 2px 8px rgb(0, 0, 0);
    background: linear-gradient(180deg, #2a2e30 0%, #1B3C53 100%);
}

.button:hover {
    background-color: #234C6A;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .button {
        margin: 0 50px;
        padding: 0.5em 1.2em;
        font-size: 0.95rem;
    }
}

@media (max-width: 480px) {
    .button {
        margin: 0 20px;
        padding: 0.5em 1em;
        font-size: 0.9rem;
        width: auto;
    }
}
