.cipher-tool {
    background-color: #00002c;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0);
    align-items: center;
    justify-content: center;
}

.options-section {
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 8px;
    min-width: 400px;
    min-height: 380px;
}