div {
    margin: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    height: auto;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.information-card-container {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    div {
        margin: 10px;
    }
    
    .information-card-container {
        font-size: 1rem;
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    div {
        margin: 5px;
    }
    
    .information-card-container {
        font-size: 0.9rem;
    }
}