div {
    margin: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    height: auto;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.information-card-container {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}